<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/home.css') }}"
		/>
	</head>
	<body>
		{% extends "template.html" %} {% block content %}
		<div class="top_container">
			<h1>Zach Anderson</h1>
			<h2>Web Developer</h2>
		</div>

        <!-- loop through work_data -->
        <h3>Work Experience</h3>
        <div class="work_container">
            {%for i in range(0, len_work)%}
            <h4 class="company">{{ work_data[i]['company'] }}</h4>
            <h5>{{ work_data[i]['title'] }}</h5>
            <p>{{ work_data[i]['years'] }}</p>
            <p>{{ work_data[i]['description'] }}</p>
            </br>
            {% endfor %}
        </div>
        </br>
        </br>
		<!-- loop through education_data -->
        <h3>Education</h3>
        <div class="education_container">
            {%for i in range(0, len_education)%}
            <h4 class="school">{{ education_data[i]['school'] }}</h4>
            <h5>{{ education_data[i]['degree'] }}</h5>
            <p>{{ education_data[i]['graduated'] }}</p>
            <p>{{ education_data[i]['description'] }}</p>
            </br>
            {% endfor %}
        </div>
        </br>
        </br>
		<!-- loop through project_data -->
        <h3>Fun Projects</h3>
		<div class="project_container">
			{%for i in range(0, len_project)%}
			<div class="row">
				<div class="column">
					<a href="{{ project_data[i]['url'] }}" src="{{ project_data[i]['description'] }}"
						><img
							src="{{ url_for('static', filename='images/' + project_data[i]['image']) }}"
						/>
					</a>
					<p class="project_title">{{ project_data[i]['title'] }}</p>
				</div>
			</div>
			{%endfor%}
		</div>

		{% endblock %}
	</body>
</html>
