<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/home.css') }}"
		/>
	</head>
	<body>
		{% extends "template.html" %} {% block content %}
		<div class="top_container">
			<h1>Zach Anderson</h1>
			<h2>Web Developer</h2>
		</div>

		<!-- loop through project_data -->
		{%for i in range(0, len)%}
		<div>{{ project_data[i]['title'] }}</div>
		{%endfor%}

		{% endblock %}
	</body>
</html>
